.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
}

.employees {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  /* background-color: salmon; */
}

.employees button {
  order: 1;
}

.employee {
  width: 700px;
  height: 300px;
  border-radius: 25px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.employee h3 {
  margin: 20px;
  flex-wrap: nowrap;
  /* background-color: red; */
  text-align: center;


}